{
  "MQTT_HOST": "mqtt0.bast-dev.ru",
  "MQTT_PORT": 1883,
  "MQTT_LOGIN": "admin",
  "MQTT_PASSWORD": "adminpsw",
  "MQTT_TOPIC": "FFF4/7C9EBD4579D07C9EBD4579D0/api/v1",
  "TOKEN_TYPE": "bearer",
  "TOKEN_EXPIRES_IS_SECONDS": 60,
  "DATABASE_PATH": "./db.sqlite3",
  "YANDEX_CLIENT_SECRET": "Ohmu2vui2zaiy7sohfo3aeboojeotait"
}
