<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Получение кода авторизации</title>
</head>
<body>
<h1>Получение кода авторизации</h1>
<form id="authorization-code-form">
    <input type="hidden" name="scope" id="scope" value="{{ scope }}"/>
    <input type="hidden" name="clientId" id="clientId" value="{{ client_id }}"/>
    <input type="text" name="email" id="email" placeholder="email"/>
    <input type="password" name="password" id="password" placeholder="пароль"/>
    <input type="submit" value="Предоставить права"/>
    <div class="error" id="error" style="color: white; background-color: red;"></div>
</form>
<p>scope: {{ scope }}</p>
<p>state: {{ state }}</p>
<p>response_type: {{ response_type }}</p>
<p>redirect_uri: {{ redirect_uri }}</p>
<p>clientId: {{ client_id }}</p>
<script>
    const form = document.getElementById('authorization-code-form');
    const scope = document.getElementById('scope');
    const clientId = document.getElementById('clientId');
    const email = document.getElementById('email');
    const password = document.getElementById('password');
    const error = document.getElementById('error');

    const showError = () => {
        error.classList.add('error--show');
    };

    const hideError = () => {
        error.classList.remove('error--show');
    };

    form.onsubmit = async (event) => {
        event.preventDefault();
        hideError()
        error.innerText = '';

        if (email.value.length < 5) {
            error.innerText = 'Email слишком короткий';
            showError();
            return;
        }

        if (password.value.length < 4) {
            error.innerText = 'Пароль слишком короткий';
            showError();
            return;
        }

        const response = await fetch(
            '/authorization-code-grant',
            {
                method: 'POST',
                mode: 'cors',
                cache: 'no-cache',
                credentials: 'same-origin',
                headers: {'Content-Type': 'application/json'},
                body: JSON.stringify({
                    scope: scope.value,
                    clientId: clientId.value,
                    email: email.value,
                    password: password.value,
                }),
            }
        );
        const data = await response.json();

        if (response.ok) {
            const queryParams = new URLSearchParams({
                scope: '{{ scope }}',
                state: '{{ state }}',
                client_id: '{{ client_id }}',
                clientId: '{{ client_id }}',
                response_type: '{{ response_type }}',
                responseType: '{{ response_type }}',
                code: data.code
            });
            window.location.assign(`{{ redirect_uri }}?${queryParams}`);
        } else {
            error.innerText = data.error;
            showError();
        }
    };
</script>
</body>
</html>
